---
title: Coaching
linkTitle: Coaching
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Coaching met paarden" image_anchor="top" height="full" >}}
<h3>Via het paard, ontmoet je jezelf</h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="mx-auto mt-5">
{{< blocks/link-down color="secondary" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead %}}
<h2>
Wanneer je al een tijdje niet lekker in je vel zit, help ik je graag, samen met het paard, te ontdekken hoe je weer in balans kan komen.
</h2>
{{% /blocks/lead %}}

{{< blocks/section color="secondary">}}

<div class="col-sm -text-dark">
  <h3>
    Als <b>psycholoog en coach</b> bied ik je vanuit rust, gelijkwaardigheid en vertrouwen de ruimte om samen met de paarden jouw weg te ontdekken rondom <b>thema’s</b> zoals:
<br><br><br>
<ul>
<li>Vergroten van je zelfbewustzijn</li>
<li>Keuzes maken die bij jou passen</li>
<li>Zelfvertrouwen en daadkracht</li>
<li>Grenzen en opkomen voor jezelf</li>
<li>Patronen in je communicatie en relaties</li>
<li>Stress ervaren en rust vinden</li>
<li>Spanning en (faal-)angsten</li>
<li>Vermoeidheid</li>
<li>Niet meer op de automatische piloot willen leven</li>
</ul>
</h3>
</div>
<div class="col-sm -text-dark">
<h3>
  Het paard helpt je om <b>dichter bij je gevoel</b> te komen en te ontdekken wat jouw innerlijke kracht en waarden zijn.
  <br>Door activiteiten met paarden uit te voeren, krijg je <b>inzicht</b> in patronen in jouw gedrag en denken. De observaties die ik als coach zie, geef ik je op een constructieve manier terug. In de coachsessie krijg je de mogelijkheid om te experimenteren met nieuw gedrag en zo patronen te doorbreken.<br><br>

De sessie met het paard helpt je de mogelijkheden in jezelf en situaties te herkennen en te benutten.
<br>Ik ben ervan overtuigd dat er geen pasklare antwoorden zijn en iedereen diep van binnen weet welke oplossing past. Het gaat om het ontwikkelen van jouw <b>‘eigen wijsheid’</b> en jouw <b>zelfvertrouwen</b>.
</h3>
</div>

{{< /blocks/section >}}

{{< blocks/section color="warning" >}}
{{% blocks/feature icon="none" %}}
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/waarommetpaarden" >}}">
  Meer over <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
<h2 class="text-center">Waarom met paarden</h2>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/kindercoaching" >}}">
  Meer over <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
<h2 class="text-center">Kindercoaching</h2>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/praktischezaken" >}}">
  Meer over <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
<h2 class="text-center">Praktische Zaken</h2>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="none" %}}
<img src="/hetpaardzietjou.png" height="100"><br><br>
<i class="fa fa-envelope ml-2 "></i> hetpaardzietjou@gmail.com
<br>
<a href="https://www.facebook.com/HetPaardZietJou">
  <i class="fab fa-facebook ml-2 "></i> Facebook 
</a><br>
<a href="https://www.instagram.com/hetpaardzietjou/">
  <i class="fab fa-instagram ml-2 "></i> Instagram 
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
HET PAARD ZIET JOU is geregistreerd bij:<br>
<br>
Equine Assisted Coach Kreact 19200411<br>
Zorg voor ZZP (WKKGZ) 201900937<br>
Kamer van Koophandel 82539596
<br><br>
<a href="algemenevoorwaarden_hetpaardzietjou.pdf">
  Algemene Voorwaarden 
</a>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
HET PAARD ZIET JOU maakt deel uit van:
<br><br>
<a href="https://www.coachesvoorjou.nl">
  <img src="/coachesvoorjou.png" height="100"> 
</a>
{{% /blocks/feature %}}
{{< /blocks/section >}}
